@{
    ViewData["Title"] = "Edit Page";
}

    <div>
        <canvas id="mycanvas" height="500" width="500"></canvas>
        <button id="mybtn" class="btn btn-primary">Annotation</button>
    </div>